# File di build di Gradle
.gradle/
build/

# File di configurazione locale (contiene il percorso dell'SDK sul tuo PC)
local.properties

# File specifici di Android Studio / IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/caches

# File di cattura (screenshot, heap dumps, etc.)
/captures/

# Build nativa (C++)
.externalNativeBuild
.cxx/

# File di log
*.log

# File di sistema OS
.DS_Store
Thumbs.db

# Keystore (se li aggiungerai in futuro, non caricarli mai su GitHub!)
# *.jks
# *.keystore
